{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eTune - Home</title>
</head>
<body>
    <main>
        <header>
            <nav>
                <div class="logo">
                <img src="vinyl.svg" class="vinyl">
                </div>
                <div class="categories">
                <a class="category-tech" href="#">Tech</a>
                <a class="category-news" href="#">News</a>
                </div>
            </nav>
        </header>
        <div class="content-holder">
            <div class="magazine factmag">
                <div class="name">
                    <h1 class="title"></h1> 
                </div>
                <div class="page">
                    <ul class="news-list">
                        <li class="news">
                            <article>
                                <div class="headline">
                                    <h2></h2>
                                </div>
                                <div class="description">
                                    <p></p>
                                </div>
                                <div class="meta">
                                    <ul>
                                        <li><time> time </time> |</li>
                                        <li class="tags">tags</li>
                                    </ul>
                                </div>
                            </article>
                        </li>
                        <li class="news">
                            <article>
                                <div class="headline">
                                    <h2></h2>
                                </div>
                                <div class="description">
                                    <p></p>
                                </div>
                                <div class="meta">
                                    <ul>
                                        <li><time> time </time> |</li>
                                        <li class="tags">tags</li>
                                    </ul>
                                </div>
                            </article>
                        </li>
                        <li class="news">
                            <article>
                                <div class="headline">
                                    <h2></h2>
                                </div>
                                <div class="description">
                                    <p></p>
                                </div>
                                <div class="meta">
                                    <ul>
                                        <li><time> time </time> |</li>
                                        <li class="tags">tags</li>
                                    </ul>
                                </div>
                            </article>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="magazine mixmag">
                <div class="name">
                <h1 class="title"></h1> 
                </div>
                <div class="page">
                    <ul class="news-list">
                        <li class="news">
                            <article>
                                <div class="headline">
                                    <h2></h2>
                                </div>
                                <div class="description">
                                    <p></p>
                                </div>
                                <div class="meta">
                                    <ul>
                                        <li><time> time </time> |</li>
                                        <li class="tags">tags</li>
                                    </ul>
                                </div>
                            </article>
                        </li>
                        <li class="news">
                            <article>
                                <div class="headline">
                                    <h2></h2>
                                </div>
                                <div class="description">
                                    <p></p>
                                </div>
                                <div class="meta">
                                    <ul>
                                        <li><time> time </time> |</li>
                                        <li class="tags">tags</li>
                                    </ul>
                                </div>
                            </article>
                        </li>
                        <li class="news">
                            <article>
                                <div class="headline">
                                    <h2></h2>
                                </div>
                                <div class="description">
                                    <p></p>
                                </div>
                                <div class="meta">
                                    <ul>
                                        <li><time> time </time> |</li>
                                        <li class="tags">tags</li>
                                    </ul>
                                </div>
                            </article>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <script src="{% static 'main.js' %}"></script>
</body>
</html>